@font-face {
    font-family: 'BlackHanSans-Regular';
    src: url('../fonts/BlackHanSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* 여러 스타일이 있는 경우 각각 정의 */
  @font-face {
    font-family: 'CookieRun Black';
    src: url('../fonts/CookieRun Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'CookieRun Bold';
    src: url('../fonts/CookieRun Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }  
  @font-face {
    font-family: 'CookieRun Regular';
    src: url('../fonts/CookieRun Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }  
  @font-face {
    font-family: '양진체v0.9_otf';
    src: url('../fonts/양진체v0.9_otf.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  