/* modal 배경 */
.modalImageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* modal 컨텐츠 */
.modalImageContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 50vw;  /* 모달 넓이를 화면의 50%로 설정 */
  height: 90vh; /* 모달 높이를 화면의 90%로 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* 컨텐츠를 상하로 중앙에 정렬 */
  align-items: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

/* 이미지 미리보기 */
.imagePreview {
  width: 80%;    /* 이미지 미리보기 영역을 일정 비율로 설정 */
  height: 80%;   /* 세로 영역도 동일하게 설정 */
  max-width: 500px;  /* 최대 너비를 설정하여 모달보다 크지 않게 */
  max-height: 80vh; /* 최대 높이 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 제목 스타일링 */
.modalImageTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;  /* 제목 아래에 공간 추가 */
  margin-top: 5px;      /* 제목 상단에 공간 최소화 */
  padding-top: 0;       /* 제목 상단 패딩 제거 */
  align-self: flex-start; /* 제목을 왼쪽 정렬 */
}

/* 이미지 스타일링 */
.imagePreview img {
  width: 100%;
  height: 100%;
  object-fit: contain;  /* 원본 이미지 비율을 유지하며 크기를 조정 */
  display: block;
  border-radius: 8px; /* 이미지에 둥근 테두리 추가 (선택 사항) */
}

/* 확인 버튼 */
.confirmButton {
  position: absolute;
  bottom: 20px;   /* Align to the bottom */
  right: 20px;    /* Align to the right */
  width: 50px;
  height: 30px;
  background-color: gray;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.confirmButton:hover {
  background-color: rgb(72, 72, 72);
  color: rgb(140, 140, 140);
}

/* 이미지 저장 버튼 */
/* 이미지 저장 버튼 */
.imageSaveButton {
  position: absolute;
  bottom: 20px;   /* 화면 하단에 배치 */
  right: 80px;    /* 확인 버튼 왼쪽에 배치 (확인 버튼 크기와 약간의 여백 고려) */
  width: 50px;    /* 확인 버튼과 동일한 너비 */
  height: 30px;   /* 확인 버튼과 동일한 높이 */
  background-image: url('../image/imageDownload.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  background-color: #fff;
}

.imageSaveButton:hover {
  background-color: rgb(185, 185, 185);
}

