.modalImageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalImageContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.imagePreview {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 8px;
}

.textOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
}

.overlayText {
  background-color: transparent;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
}

.summaryControls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.textControlGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inlineControls {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.confirmButton {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #666;
  color: #fff;
  cursor: pointer;
  border: none;
}

.confirmButton:hover {
  background-color: #444;
}

.saveButton {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #666;
  cursor: pointer;
  border: none;
}

.saveButton:hover {
  background-color: #444;
}

.downloadIcon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
