/* modal 배경 */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* modal 컨텐츠 */
.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

/* PDF 요약 섹션 */
.pdfSummary {
  width: 100%;
  margin-bottom: 20px;
}

/* 요약 내용이 표시될 텍스트 영역 */
.pdfContentEditable {
  width: 40vw;
  height: 60vh;  /* Increase the height to make the editable area larger */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;  /* Disable resizing by user */
}
.pdfTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;  /* 제목 아래에 공간 추가 */
  margin-top: 5px;      /* 제목 상단에 공간 최소화 */
  padding-top: 0;       /* 제목 상단 패딩 제거 */
  align-self: flex-start; /* 제목을 왼쪽 정렬 */
}

/* 다음 버튼 */
.nextButton2 {
  position: absolute;
  bottom: 20px;   /* Align to the bottom */
  right: 20px;    /* Align to the right */
  background-color: #666;
  color: #fff;
  padding: 5px 10px;  /* 패딩을 줄여서 글자 크기에 맞게 조정 */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;  /* 글자 크기를 줄여서 버튼에 맞추기 */
  width: auto;  /* 버튼 너비를 자동으로 조정 */
  height: auto; /* 버튼 높이를 자동으로 조정 */
  min-width: 50px; /* 최소 너비 설정 */
  min-height: 30px; /* 최소 높이 설정 */
}
